{% include '/views/header.twig' %}
<div class="wrapper">
  <div class="registerFormContent">
    <div class="container">
      <div class="headerTheme text-center">
        <h1 class="h1"><span>REGISTER</span></h1>
      </div>
      <div class="row">
        <div class="col-lg-offset-3 col-lg-7 col-md-offset-1 col-md-10">
          <div class="formTheme">
            <form id="registerCompany" class="form-horizontal" data-toggle="validator" role="form">
              <div class="form-group">
                <label class="col-md-4 control-label"><span>Username <b class="requireInput">*</b></span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>Password</span></label>
                <div class="col-md-8">
                  <input type="password" class="form-control" required>
                  <div id="passwordProgressCollapse" class="passwordProgressWrap collapse" aria-expanded="false">
                    <div class="passwordProgress">
                      <div class="passwordProgressBar" style="width: 0px;"><div class="passwordProgressText"></div></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>Comfirm Password</span></label>
                <div class="col-md-8">
                  <input type="password" class="form-control" required>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>เลือก Package</span></label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option> -- โปรดระบุ -- </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>ระยะเวลา</span></label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option> -- โปรดระบุ -- </option>
                  </select>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>ชื่อผู้ติดต่อ</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>ชื่อบริษัท</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>ลักษณะธุรกิจ</span></label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option> -- โปรดระบุ -- </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>รายละเอียดของบริษัท</span></label>
                <div class="col-md-8">
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>สวัสดิการ</span></label>
                <div class="col-md-8">
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>วิธีการสมัคร</span></label>
                <div class="col-md-8">
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>ที่อยู่</span></label>
                <div class="col-md-8">
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>จังหวัด</span></label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option> -- โปรดระบุ -- </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>เขต/อำเภอ</span></label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option> -- โปรดระบุ -- </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>แขวง/ตำบล</span></label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option> -- โปรดระบุ -- </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>รหัสไปรษณีย์</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>โทรศัพท์</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>แฟกซ์</span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>Email</span></label>
                <div class="col-md-8">
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>ยืนยัน Email</span></label>
                <div class="col-md-8">
                  <input type="email" class="form-control" data-error="Bruh, that email address is invalid" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span> Website </span></label>
                <div class="col-md-8">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label"><span>การเดินทาง</span></label>
                <div class="col-md-8">
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
              <hr/>
              <div class="form-group">
                <div class="checkbox col-md-offset-4 col-md-8">
                  <label>
                    <input type="checkbox" value="">
                    เพื่อใช้บริการเก็บใบสมัครไว้ที่ Jobchill.com
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox col-md-offset-4 col-md-8">
                  <label>
                    <input type="checkbox" value="">
                    ต้องการรับใบสมัครเป็นภาษาอังกฤษเท่านั้น
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox col-md-offset-4 col-md-8">
                  <label>
                    <input type="checkbox" value="">
                    ต้องการรับใบสมัครทาง Email ในรูปแบบ HTML
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <button class="btn btnSmTheme" type="submit">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('#registerCompany').validator()
  });
</script>
{% include '/views/footer.twig' %}