<div class="tat_header">
  <div class="container">
    <div class="tat_headerInner">
      <div class="tat_headerBarSM">
        <ul class="list-inline">
          {% if(session.userdata.member) is empty %}
          <li><a href="{{ base_url('company/login') }}"><span><i class="sprite sprite-headerIconLogin"></i> Login</span></a></li>
          <li><a href="{{ base_url('company/register') }}"><span><i class="sprite sprite-headerIconRegister"></i> Register</span></a></li>
          {% else %}
          <li><a href="{{ base_url('company/member') }}"><span><i class="sprite sprite-headerIconLogin"></i> Member</span></a></li>
          <li><a href="{{ base_url('company/logout') }}"><span><i class="sprite sprite-headerIconLogin"></i> Logout</span></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
Business Package 1 ตำแหน่งงาน
Business Package 2 ตำแหน่งงาน
Business Package 3 ตำแหน่งงาน
Business Package 5 ตำแหน่งงาน
Business Package 10 ตำแหน่งงาน
Business Package 15 ตำแหน่งงาน
Business Package 20 ตำแหน่งงาน
Business Package 30 ตำแหน่งงาน

2 สัปดาห์
1 เดือน
2 เดือน
3 เดือน
6 เดือน
1 ปี

Business Package 1  ตำแหน่งงาน 2 สัปดาห์   700.00
Business Package 1  ตำแหน่งงาน 1 เดือน    990.00
Business Package 1  ตำแหน่งงาน 2 เดือน    1,980.00
Business Package 1  ตำแหน่งงาน 3 เดือน    2,970.00      ลด 10 %
Business Package 1  ตำแหน่งงาน 6 เดือน    5,940.00      ลด 15 %
Business Package 1  ตำแหน่งงาน 1 ปี       11,880.00     ลด 20 %

Business Package 2  ตำแหน่งงาน 2 สัปดาห์   1,400.00
Business Package 2  ตำแหน่งงาน 1 เดือน    1,980.00
Business Package 2  ตำแหน่งงาน 2 เดือน    3,960.00
Business Package 2  ตำแหน่งงาน 3 เดือน    5,940.00      ลด 10 %
Business Package 2  ตำแหน่งงาน 6 เดือน    11,880.00     ลด 15 %
Business Package 2  ตำแหน่งงาน 1 ปี       23,760.00     ลด 20 %

Business Package 3  ตำแหน่งงาน 2 สัปดาห์   2,200.00
Business Package 3  ตำแหน่งงาน 1 เดือน    2,970.00
Business Package 3  ตำแหน่งงาน 2 เดือน    5,940.00
Business Package 3  ตำแหน่งงาน 3 เดือน    8,910.00      ลด 10 %
Business Package 3  ตำแหน่งงาน 6 เดือน    17,820.00     ลด 15 %
Business Package 3  ตำแหน่งงาน 1 ปี       35,640.00     ลด 20 %

Business Package 5  ตำแหน่งงาน 1 เดือน    3,300.00
Business Package 5  ตำแหน่งงาน 2 เดือน    6,600.00
Business Package 5  ตำแหน่งงาน 3 เดือน    9,900.00      ลด 10 %
Business Package 5  ตำแหน่งงาน 6 เดือน    19,800.00     ลด 15 %
Business Package 5  ตำแหน่งงาน 1 ปี       39,600.00     ลด 20 %

Business Package 10  ตำแหน่งงาน 1 เดือน    4,100.00
Business Package 10  ตำแหน่งงาน 2 เดือน    8,200.00
Business Package 10  ตำแหน่งงาน 3 เดือน    12,300.00    ลด 10 %
Business Package 10  ตำแหน่งงาน 6 เดือน    24,600.00    ลด 15 %
Business Package 10  ตำแหน่งงาน 1 ปี       49,200.00    ลด 20 %
-->